.modal__job {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000000;
    opacity: 0.2;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    padding-bottom: 13px;
    margin-top: 30px;
}