.profile__image {
    max-width: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

@media screen and (max-width: 879px) {
    .profile__image {
        margin-right: 0;
        margin-bottom: 26px;
    }
}